{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<div class="card bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100" style="width: 18rem;">
  <img src="{% static 'img/default-profile.png' %}" class="card-img-top" alt="Perfil">
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">{{ user.email }}</p>
    <a href="{% url 'perfil_edit' %}" class="btn btn-primary">Editar perfil</a>
  </div>
</div>
{% endblock %}